<div class="menu container-v1 bg-dark">
  <div class="text-center">
    <h1>Изменить задачу</h1>

    <%= render 'form', task: @task %>

    <div class="p-2">
      <%= link_to 'Показать', @task, class: "btn btn-primary" %>
    </div>
    <%= link_to 'Выйти', tasks_path, class: "btn btn-primary" %>
  </div>
</div>
