<div class="menu container-v1 bg-dark">
  <div class="text-center">
    <h1>Изменить токен</h1>

    <%= render 'form', token: @token %>

    <div class="p-2">
      <%= link_to 'Показать', @token, class: "btn btn-primary" %>
    </div>
    <%= link_to 'Выйти', tokens_path, class: "btn btn-primary" %>
  </div>
</div>
