<div class="menu container-v1 bg-dark">
  <div class="text-center">
    <h1>Новый токен</h1>

    <%= render 'form', token: @token %>
    <div style="padding-top: 10px">
      <%= link_to 'Выйти', tokens_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
